autom4te.cache/*

libtool
stamp-h1
Makefile
config.status
config/config.h

doc/docs/
doc/doxygen.cfg

packaging/lib*.pc

src/.deps/*.Po
src/.deps/*
src/.libs/*
src/nihm

*.Po
*.Tpo
*.swp
*.la
*.lo
*.log
*.o
*~

