autom4te.cache/*

libtool
stamp-h1
Makefile
config.status
config/config.h

doc/docs/
doc/doxygen.cfg

packaging/lib*.pc

src/.deps/
src/.libs/
src/redoak
src/redoak_shell_proxy
src/ChangeLog

*.swp
*.la
*.lo
*.log
*.o
*~

