autom4te.cache/*

libtool
stamp-h1
Makefile
config.status
config/config.h

doc/docs/
doc/doxygen.cfg

packaging/lib*.pc

config/config.h.in
src/.deps/nihm.Po
src/.deps/nihm_index.Po
src/.deps/nihm_index.Tpo
src/Makefile.am
src/Makefile.in

src/.deps/*.Po
src/.deps/*
src/.libs/*
src/nihm

*.Po
*.Tpo
*.swp
*.la
*.lo
*.log
*.o
*~

